<header id="banner" class="banner ui vertical inverted segment">
  <div class="banner-menu ui large secondary inverted menu">
    <div class="ui container">
      <a class="header item" href="/{{ site.baseurl }}">
        <img src="{{ '/images/logo_white.svg' | prepend: site.baseurl }}">
        <!-- <span class="header-title">{{ site.title }}</span> -->
      </a>

      <div class="right menu">
        <!-- Top categories -->
        {% for item in site.pages %}
          {% if item.title and item.categories contains 'top' and item.lang == page.lang %}
            <a class="item" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
          {% endif %}
        {% endfor %}

        <!-- Search panel -->

      </div>
    </div>
  </div>
</header>
