<script type="text/javascript" src="//code.jquery.com/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script type='text/javascript' src="{{ '/js/underscore-min.js' | prepend: site.baseurl }}"></script>
<script type='text/javascript' src="{{ '/js/moment.js' | prepend: site.baseurl }}"></script>
<script type='text/javascript' src="{{ '/js/jquery.jsonview.min.js?v=2' | prepend: site.baseurl }}"></script>
<script type='text/javascript' src="{{ '/js/clipboard.min.js' | prepend: site.baseurl }}"></script>
<script type='text/javascript' src="{{ '/js/elasticsearch.jquery.js' | prepend: site.baseurl }}"></script>
<script type='text/javascript' src="{{ '/js/elasticsearch.wrapper.js' | prepend: site.baseurl | append: '?v=0.2.9' }}"></script>
<script type='text/javascript' src="{{ '/js/object_hash.js' | prepend: site.baseurl }}"></script>
<script type='text/javascript' src="{{ '/js/semantic.min.js' | prepend: site.baseurl }}"></script>
<script type='text/javascript' src="{{ '/js/search.js' | prepend: site.baseurl | append: '?v=0.2.1' }}"></script>
<script type='text/javascript' src="{{ '/js/language.js' | prepend: site.baseurl }}"></script>
<script type='text/javascript' src="{{ '/js/sidebar.js' | prepend: site.baseurl }}"></script>
<script type='text/javascript' src="{{ '/js/copypaste.js' | prepend: site.baseurl }}"></script>
<script type='text/javascript' src="{{ '/js/tabs.js' | prepend: site.baseurl }}"></script>

{% if page.search_script %}

<script type='text/javascript'>
$(document).ready(function() {
    Search.runQuery();
});
</script>

{% endif %}  

{% assign lang_current_part = page.lang | append: '/' %}
{% assign version_part = page.api.version | prepend: '/v'  %}
{% assign links_baseurl = page.url | remove_first: '/' | remove_first: lang_current_part | remove: 'index.html' | split: '/' | first %}

{% assign links_baseurl = links_baseurl | append: version_part | prepend: '/' | prepend: site.baseurl %}
<div id="json-link-base" data-base="{{ links_baseurl }}"></div>
<script type='text/javascript'>
function monkeyPatchJsonFormatter() {
    var formatter = window.JSONFormatter;

    if (formatter) {
        var _stringToHTML = formatter.prototype.stringToHTML;

        formatter.prototype.stringToHTML = function(value) {
            var result = _stringToHTML.apply(this, arguments);

            decodedValue = decodeHTMLEntities(value);
            if (decodedValue.match(/^<XLite/i)) {
                var link = getLinkByRef(decodedValue);
                return '<a href="' + link + '">' + value + '</a>';
            }

            return result;
        }
    }
}

function getLinkByRef(ref) {
    var base = document.getElementById('json-link-base').getAttribute('data-base');
    var page = '';
    var coreMatches = ref.match(/XLite\\Model\\(.+)>/i)
    var moduleMatches = ref.match(/XLite\\Module\\(.+?)Model\\(.+)>/i)

    if (moduleMatches) {
        page = moduleMatches[1].replace('\\', '') + moduleMatches[2].replace('\\', '');
    } else if (coreMatches) {
        page = 'Core/' + coreMatches[1].replace('\\', '');
    }

    return base + '/' + page + '.html';
}

function decodeHTMLEntities (text) {
    var entities = {
      'amp': '&',
      'apos': '\'',
      '#x27': '\'',
      '#x2F': '/',
      '#39': '\'',
      '#47': '/',
      'lt': '<',
      'gt': '>',
      'nbsp': ' ',
      'quot': '"'
    }
    return text.replace(/&([^;]+);/gm, function (match, entity) {
        return entities[entity] || match
    });
}

$(document).ready(function() {
    monkeyPatchJsonFormatter();
    $('.example-json').each(function() {
        var jsonText = this.innerHTML.trim();
        this.innerHTML = '';
        $(this).JSONView(jsonText, { collapsed: true });
        $(this).addClass('initialized');
    });

    $('.response-accordion').accordion({
    });
});
</script>